
	<div  id= "barnav" class="col-md-4">MOVIDA</div>
		 </div>
	<div class="row">
		<div id= "firstview",class="col-xs-6  col-md-3">


		</div>

		<div id= "secondview" class="col-xs-1  col-md-3">


		</div>

		<div id= "thirdview",class="col-xs-1  col-md-3">


		</div>

		<div id= "fourthview", class="col-xs-1  col-md-3">


		</div>

		<div id="fourthview", class="col-xs-1  col-md-3">


		</div>

	</div>

</div>

<% @events.each do |event|%>

	<%= event.name%>
<%end%>

		  



