<<html>
<head>
	<title></title>
</head>
<body>
<div class="container-fluid" id="continer-fluid-event">

	<div class="row">

							<div  class="col-xs-6 col-sm-4 col-md-4 "> 

								<div id="lrigth" class="lateral">

									



								</div>



							</div>

						



					<div  class="col-xs-6 col-sm-4 col-md-4 "> 

						<div id="lcenter"  class="lateral">



							<h1>FESTIVAL STEREO<br> PICNIC</h1>



							<img SRC="www.vive.in/media/produccion/images/estereo_picnic14/festival_logo.png",class="img-rounded">

							<%= @event.datestart %> <br>

							<%= @event.dateend %>  <br>

							<%= @event.hourstart %> <br>

							<%= @event.hourend %> <br>

							

							<h1> <span class:"spanc"> <img src:""> </span> place.city </h1>

							<h1> <span class:"spanc"> <img src:""> </span> @event.website </h1>

							<h1> <span class:"spanc"> <img src:""> </span>	place.adress </h1>





						</div>

					</div>



				<div  class="col-xs-6 col-sm-4 col-md-4 "> 

					<div id="lleft"  class="lateral">

						<div class="row">

							<div  class="col-xs-3 col-sm-3 col-md-3"> 

								<img src="//s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/galery-e.svg" class="btnevn">

								<h2> GALERIA </h2>

							</div>



							<div  class="col-xs-3 col-sm-3 col-md-3"> 

								<img src="//s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/heart-bite.svg" class="btnevn">

								<h2> BITE </h2>

								

							</div>



							<div  class="col-xs-3 col-sm-3 col-md-3"> 

								 <img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/claps.svg" class="btnevn">

								<h2> CLAPS </h2>

							</div>



							<div  class="col-xs-3 col-sm-3 col-md-3"> 

							     <img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/share.svg" class="btnevn">

								<h2> COMPARTIR </h2>

							</div>



						</div>

						<div class="row">

							<div class= "col-xs-12 col-sm-12 col-md-12">

								<% @event.description %>





						     <div class="row">

								<div  class="col-xs-3 col-sm-3 col-md-3"> 

									<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/tagS_score.svg" class="sbtnevn">

									<h2>ETIQUETAS</h2>

									<h2> score </h2>

								</div>



								<div  class="col-xs-3 col-sm-3 col-md-3"> 

									<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/bite_score.svg" class="sbtnevn">

									<h2>BITE</h2>

									<h2> score </h2>

								</div>



								<div  class="col-xs-3 col-sm-3 col-md-3"> 

									 <img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/claps_score.svg" class="sbtnevn">

									<h2>CLAPS</h2>

									<h2> score </h2>

								</div>



								<div  class="col-xs-3 col-sm-3 col-md-3"> 

								     <img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/share_score.svg" class="sbtnevn">

									<h2>COMPARTIDAS</h2>

									<h2> score </h2>

								

								</div>



						    </div>



					 </div>



				</div>

		  </div>





	</div>



</div>



</body>
</html>