// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#newevent{
	width: 100%;
	height: 100%;
	background-color: #FFCC33;
	color: black;
	background-size: cover;
	margin-top: 6%;

}
#divnewevent {
	width:40%;
	height:auto;
	margin-left: 30%;
	padding-top: 1%;
	
}