// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newevent{
	width: 100%;
	height: 100%;
	background-color: #FFCC33;
	color: black;
	background-size: cover;
	margin-top: 6%;

}

#divnewevent {
	width:40%;
	height:auto;
	margin-left: 30%;
	padding-top: 1%;
	
}
// ------------------------Empieza Event Desing-----------------

#container-fluid-event{
	background-color: orange;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#column{
	margin-top: 5%;
	
}

.lateral{
	background-color: black;
	width: 80%;
	height: 70%;
	opacity: 0.5%;
	margin :auto;

}

.rigth{
	position: absolute;
	background-color: black;
	margin-right: 5%;
}

//---------------------------- Empieza columna central----------------------

#lcenter{
	position: relative;
	margin-right: 5%;
}

#titulo{
	color: white;
	font-size: 2.5rem;
	text-align: center;
	padding-top: 5%;
	width: 80%;
	margin-left: 10%;
	font-family: 'Lato', b;

}
#imgprofile {
	width: 175px;
	height: 175px;
	border-radius: 50%;
	background-position: center center;
	background-color: #FFF;
	margin-left: 20%;
}

#date{
	font-size: 1.6rem;
	text-align: center;
	color: white;
	font-family: 'Lato', bold;
}

#hour{
	font-size: 1.4rem;
	text-align: center;
	color: white;
	font-family: 'Lato', ligth;
}

#infoevent{
	font-size: 1.2rem;
	text-align: center;
	color: white;
	font-family: 'Lato', ligth;
}




//------------------------------- Fin de columna central----------------------

//----------------------------------Empieza la columna derecha----------------

#rigthbottom{
	padding-top: 85%;
	z-index: 1;
}

#rigthcenter{
	padding-top: 40%;
	z-index: 2;
	color: white;
	text-align: center;
	font-size: 1.5rem;
	vertical-align: center;

}

#rigthtop{
	padding-top: 5%;
	z-index: 3;
}



#lleft{
	position: relative;
	
}

#gamifications img{
	width: 60%;
	height: auto;
    margin:  20%;
    display: inline-block;
}
#gamifications h2 {
	font-size: 1rem;
	font-family: 'Lato', ligth;
	color: white;
	text-align: center;
    margin-top: -10%;

}



#lrigth{
	
	position: relative;
	
}



#scores img{
	width: 60%;
	height: auto;
    margin:  20%;
    display: inline;

   
}

#description{
	text-align: center;
	font-size: 1.5rem;
	background-color: black;
	width: 80%;
	font-family: 'Lato', ligth;
	color: white;
}

#scores h2{

	font-family: 'Lato', ligth;
	color: white;
	text-align: center;
	margin-top: -10%;
	font-size: 1.2rem;

}

#scores{
	background-color: black;
}






