// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background{
	 background-color: black;
	 height: 1500px;
	 width: 100%;
	 display: block;
}

#barnav{
	background-color: white;
	color: red;
	margin: 10px;
	height: 50px;
	text-align: center;
		
}

#firstview {
	background-color: red;
	height: 100px;
	width:auto;
}

#secondview{
	background-color: blue;
	height: 100px;
	width:auto;
}

#thirdview{
	background-color: yellow;
	height:100px;
	width:auto;
}

#fourthview{
	background-color: bronw;
	height:100px;
	width:auto;
}