h1 {

font-family: 'lato'

}

p {

text-align: 'center';
font-family: 'lato' ; 

}

.media-object{
	margin-left: 23%;

}


#primera{
	    
   width: 10%; 
   float:left;
   margin-top: 35%; 
   font-family: 'lato';
   margin-right: -25px;
}

#segunda {
   width: 45%;
   float:left; 
   margin-top: 5%;
}

#tercera {
   width: 45%;
   float:left; 
   margin-top: 5%;
}



#container2 {
   padding-left: 30px;    

}

.col-md-3 {

   background-color: grey; 



}

.col-md-4 {

   background-color: grey;



}

.container-fluid {

   background-color: white;
}




 